### macOS
# Finder metadata
.DS_Store

node_modules

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Local monthly prayer update checkpoint
update_prayers_monthly_progress.json
